/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

h2 {
  text-align: center;
}

.jumbotron {
  background-color: #fff;
}

.top {
  background-color: #eee; 
  padding: 5px;
}

.jumbotron p {
  margin-bottom: 1px;
  font-size: 19px;
  font-weight: 200;
  text-align: center;
}

.top p {
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}

p {
    margin: 0 0 1px;
}

.thumbnail {
      margin-bottom: 5px;
}