{% load i18n %}
<div class="row">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'top' %}">{% trans 'Top 10' %}</a></li>
            <li role="presentation">
               <a href="#" data-toggle="modal" data-target="#loadModal">{% trans 'Upload images' %}</a>
            </li>
            <li role="presentation"><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
            <li role="presentation"><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="{% url 'home' %}">{% trans 'Facemash' %}</a> 
            <small>({% trans 'clone' %})</small>
        </h3>
      </div>
</div>

{% include "add_persons.html" %}
